
@model UTAD.LAB._2022.TheGammingHour.Models.PlataformaInfo
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Criar Plataforma</h1>

<div class="delete-container box-container-input row">
    <div class="container-input-topics col-md-4">
        <form asp-action="Create" enctype=multipart/form-data>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container-input form-group">
                <label asp-for="plataforma.Nome" class="control-label"></label>
                <input asp-for="plataforma.Nome" class="form-control" />
                <span asp-validation-for="plataforma.Nome" class="text-danger"></span>
            </div>
            <div class="container-input form-group">
                <label class="col-form-label">Select File</label>
                <input asp-for="platFile" class="form-control" />
                <span asp-validation-for="platFile" class="text-danger"></span>
            </div>
            <div class="container-input form-group">
                <input type="submit" value="Create" class="btn-input-topics btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
