@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p class="confirm-email-p">
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar o seu e-mail</a>
        </p>
    }
    else
    {
        <p>
            Por favor verifique o seu e-mail antes de o confirmar.
        </p>
    }
}

